<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contacts</key>
	<array>
		<dict>
			<key>sections</key>
			<array>
				<dict>
					<key>key</key>
					<string>firstName</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>First Name</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>lastName</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Last Name</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>homePhone</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Home Phone Number</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>cellPhone</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Cell Phone Number</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>workPhone</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Work Phone Number</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>street</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Street</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>city</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>City</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>state</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>State</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>zip</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Zip Code</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>country</string>
					<key>type</key>
					<string>TFCell</string>
					<key>label</key>
					<string>Country</string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>relationship</string>
					<key>type</key>
					<string>PickerCell</string>
					<key>label</key>
					<string>Relationship</string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
