<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First Name</key>
	<string>Paul</string>
	<key>Last Name</key>
	<string></string>
	<key>Age</key>
	<string>0</string>
	<key>Gender</key>
	<string></string>
	<key>Home Phone</key>
	<string></string>
	<key>Cell Phone</key>
	<string></string>
	<key>Address</key>
	<dict>
		<key>Street Line 1</key>
		<string></string>
		<key>Street Line 2</key>
		<string></string>
		<key>City</key>
		<string></string>
		<key>State</key>
		<string></string>
		<key>Zipcode</key>
		<string></string>
		<key>Country</key>
		<string></string>
	</dict>
	<key>Birthdate</key>
	<string></string>
	<key>Medication Allergies</key>
	<string></string>
	<key>Food Allergies</key>
	<string></string>
	<key>Chronic Conditions</key>
	<string></string>
	<key>Hospitalizations</key>
	<string></string>
	<key>Doctor Information</key>
	<dict>
		<key>Name</key>
		<string></string>
		<key>Number</key>
		<string></string>
		<key>Location of Practice</key>
		<string></string>
	</dict>
	<key>Hospital Preference</key>
	<dict>
		<key>Name</key>
		<string></string>
		<key>Address</key>
		<string></string>
	</dict>
	<key>Medical Insurance</key>
	<string></string>
	<key>Past Surgical Information</key>
	<string></string>
	<key>doctors</key>
	<array>
		<dict>
			<key>number</key>
			<string></string>
			<key>lastName</key>
			<string></string>
			<key>firstName</key>
			<string></string>
		</dict>
	</array>
	<key>familyMembers</key>
	<array/>
	<key>otherContacts</key>
	<array/>
</dict>
</plist>
