<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuList</key>
	<array>
		<string>Home</string>
		<string>Information</string>
		<string>Settings</string>
	</array>
	<key>converterOptions</key>
	<dict>
		<key>accelerationOptions</key>
		<array>
			<string>attometer/square second</string>
			<string>celo</string>
			<string>centigal</string>
			<string>centimeter/square second</string>
			<string>decigal</string>
			<string>decimeter/square second</string>
			<string>dekameter/square second</string>
			<string>femtometer/square second</string>
			<string>foot/square second</string>
			<string>G [acceleration of gravity]</string>
			<string>Gal [galileo]</string>
			<string>hectometer/square second</string>
			<string>inch/square second</string>
			<string>kilometer/hour second</string>
			<string>kilometer/square second</string>
			<string>leo</string>
			<string>meter/square second</string>
			<string>micrometer/square second</string>
			<string>mile/hour minute</string>
			<string>mile/hour second</string>
			<string>mile/square second</string>
			<string>milligal</string>
			<string>millimeter/square second</string>
			<string>nanometer/square second</string>
			<string>picometer/square second</string>
			<string>yard/square second</string>
		</array>
		<key>angleOptions</key>
		<array>
			<string>circumference</string>
			<string>degree</string>
			<string>gon</string>
			<string>grade</string>
			<string>hour angle</string>
			<string>minute</string>
			<string>nauticul rhumb</string>
			<string>octant</string>
			<string>point</string>
			<string>quadrant</string>
			<string>radian</string>
			<string>revolution</string>
			<string>right angle</string>
			<string>second</string>
			<string>sign</string>
			<string>sextant</string>
			<string>turn</string>
			<string>1/2 circle</string>
		</array>
		<key>areaOptions</key>
		<array>
			<string>acre</string>
			<string>are</string>
			<string>arpent</string>
			<string>barn</string>
			<string>carree</string>
			<string>catta</string>
			<string>circular foot</string>
			<string>circular inch</string>
			<string>cureda</string>
			<string>dekare</string>
			<string>donium</string>
			<string>football field [US, NFL]</string>
			<string>football field [soccer]</string>
			<string>hectare</string>
			<string>hide</string>
			<string>homestead</string>
			<string>hout</string>
			<string>hundred</string>
			<string>kappland</string>
			<string>labor</string>
			<string>perche</string>
			<string>pyong</string>
			<string>rood</string>
			<string>section</string>
			<string>square</string>
			<string>square angstrom</string>
			<string>square astronomical unit</string>
			<string>square attometer</string>
			<string>square centimer</string>
			<string>square chain</string>
			<string>square cubit</string>
			<string>square decimeter</string>
			<string>square dekameter</string>
			<string>square exameter</string>
			<string>square digit</string>
			<string>square fathom</string>
			<string>square femtometer</string>
			<string>square fiit</string>
			<string>square furlong</string>
			<string>square gigameter</string>
			<string>square hectometer</string>
			<string>square inch</string>
			<string>square kilometer</string>
			<string>square league [nautical]</string>
			<string>square league [US, statute]</string>
			<string>square light year</string>
			<string>square megameter</string>
			<string>square meter</string>
			<string>square micrometer</string>
			<string>square mil</string>
			<string>square mile</string>
			<string>square millimeter</string>
			<string>square nanometer</string>
			<string>square parsec</string>
			<string>square perch</string>
			<string>square perche</string>
			<string>square petameter</string>
			<string>square picometer</string>
			<string>square pole</string>
			<string>square rod</string>
			<string>square terameter</string>
			<string>square yard</string>
			<string>squarre poctometer</string>
			<string>square yottameter</string>
			<string>stremma</string>
			<string>township</string>
			<string></string>
		</array>
		<key>clothingOptions</key>
		<dict>
			<key>Women&apos;s Shoe Size</key>
			<array>
				<string>US</string>
				<string>Europe</string>
				<string>UK</string>
				<string>Australia</string>
				<string>Mexico</string>
				<string>Japan</string>
				<string>China</string>
				<string>Inches</string>
				<string>Cm</string>
			</array>
			<key>Men&apos;s Shoe Size</key>
			<array>
				<string>US</string>
				<string>Europe</string>
				<string>UK</string>
				<string>Australia</string>
				<string>Mexico</string>
				<string>Japan</string>
				<string>China</string>
				<string>Inches</string>
				<string>Cm</string>
			</array>
			<key>Women&apos;s Clothing Size</key>
			<dict>
				<key>Dress Sizes</key>
				<array>
					<string>US / Canada</string>
					<string>US (Letter)</string>
					<string>UK</string>
					<string>Europe</string>
					<string>Italy</string>
					<string>Australia</string>
					<string>Japan</string>
				</array>
				<key>Junior Dress Size</key>
				<array>
					<string>US/ Canada</string>
					<string>UK</string>
					<string>Europe</string>
					<string>Australia</string>
					<string>Japan</string>
				</array>
				<key>Clothing Size</key>
				<array>
					<string>US/ Canada</string>
					<string>UK</string>
					<string>Europe</string>
					<string>Japan</string>
					<string>Bust</string>
					<string>Waist</string>
					<string>Hip</string>
				</array>
				<key>Blouses and Sweaters</key>
				<array>
					<string>US/Canada</string>
					<string>UK</string>
					<string>Europe</string>
				</array>
			</dict>
			<key>Men&apos;s Clothing Size</key>
			<dict>
				<key>Suit/Coat/Sweater</key>
				<array>
					<string>US/Canada</string>
					<string>UK</string>
					<string>Europe</string>
				</array>
				<key>Shirt</key>
				<array>
					<string>US/Canada</string>
					<string>UK</string>
					<string>Europe</string>
				</array>
				<key>T-Shirt</key>
				<array>
					<string>US (Letter)</string>
					<string>US/UK</string>
					<string>Euope</string>
				</array>
				<key>Hat</key>
				<array>
					<string>US (Letter)</string>
					<string>US</string>
					<string>Europe</string>
				</array>
				<key>Socks</key>
				<array>
					<string>US</string>
					<string>UK</string>
					<string>Euopre</string>
				</array>
			</dict>
			<key>Ring Size</key>
			<array>
				<string>US/Canada</string>
				<string>UK/Australia</string>
				<string>Japan</string>
				<string>China</string>
				<string>Diameter (in.)</string>
				<string>Diameter (mm.)</string>
				<string>Circumference (in.)</string>
				<string>Circumference (mm)</string>
			</array>
		</dict>
		<key>cookingOptions</key>
		<array>
			<string>cup [US]</string>
			<string>cup [metric]</string>
			<string>dash</string>
			<string>demi</string>
			<string>dessertspoon [US]</string>
			<string>dessertspoon [UK]</string>
			<string>dram</string>
			<string>drop</string>
			<string>gallon [US]</string>
			<string>gallon [US, dry]</string>
			<string>gallon [UK]</string>
			<string>jigger</string>
			<string>kiloliter</string>
			<string>liter</string>
			<string>milliliter</string>
			<string>ounce [US, fluid]</string>
			<string>ounce [UK, fluid]</string>
			<string>peck [US]</string>
			<string>peck [UK]</string>
			<string>pinch</string>
			<string>pint [US]</string>
			<string>pint [UK]</string>
			<string>pony</string>
			<string>quart [US, fluid]</string>
			<string>quart [UK]</string>
			<string>shot</string>
			<string>tablespoon [US]</string>
			<string>tablespoon [UK]</string>
			<string>tablespoon [Australia]</string>
			<string>tablespoon [metric]</string>
			<string>teaspoon [US]</string>
			<string>taeaspoon [UK]</string>
			<string>teaspoon [Australia]</string>
			<string>teasppoon [metric]</string>
		</array>
		<key>currencyOptions</key>
		<array/>
		<key>densityOptions</key>
		<array>
			<string>attogram/liter</string>
			<string>centigram/liter</string>
			<string>decigram/liter</string>
			<string>dekagram/liter</string>
			<string>exagram/liter</string>
			<string>femtogram/liter</string>
			<string>gigagram/liter</string>
			<string>grain/gallon [UK]</string>
			<string>grain/gallon [US]</string>
			<string>grain/cubic foot</string>
			<string>grain/cubic centimeter</string>
			<string>gram/cubic meter</string>
			<string>gram/cubic millimeter</string>
			<string>gram/liter</string>
			<string>hectogram/liter</string>
			<string>microgram/liter</string>
			<string>milligram/cubic meter</string>
			<string>milligram/liter</string>
			<string>ounce/cubic foot</string>
			<string>ounce/cubic inch</string>
			<string>ounce/gallon [UK]</string>
			<string>ounce/gallon [US]</string>
			<string>petagram/liter</string>
			<string>picogram/liter</string>
			<string>pound/cubic foot</string>
			<string>pound/cubic inch</string>
			<string>pound/cubic yard</string>
			<string>pound/gallon [UK]</string>
			<string>pound/gallon [US]</string>
			<string>slug/cubic foot</string>
			<string>teragram/liter</string>
			<string>ton(short)/cubic yard</string>
			<string>ton(long)/cubic yard</string>
		</array>
		<key>energyOptions</key>
		<array/>
		<key>frequencyOptions</key>
		<array/>
		<key>forceOptions</key>
		<array/>
		<key>lengthOptions</key>
		<array/>
		<key>massOptions</key>
		<array>
			<string>carat</string>
			<string>centigram</string>
			<string>decigram</string>
			<string>dekagram</string>
			<string>dram</string>
			<string>dyne</string>
			<string>grain</string>
			<string>gram</string>
			<string>hectogram</string>
			<string>hundredweight [long]</string>
			<string>hundredweight [short]</string>
			<string>kilogram</string>
			<string>kiloton [long]</string>
			<string>kiloton [short]</string>
			<string>kiloton [metric]</string>
			<string>libra [ancient Rome]</string>
			<string>libra [metric]</string>
			<string>megagram</string>
			<string>megatonne</string>
			<string>microgram</string>
			<string>milligram</string>
			<string>nanogram</string>
			<string>ounce</string>
			<string>ounce [troy]</string>
			<string>pennyweight [troy]</string>
			<string>petagram</string>
			<string>picogram</string>
			<string>pound</string>
			<string>pound [troy]</string>
			<string>quarter [UK]</string>
			<string>quarter [US]</string>
			<string>stone</string>
			<string>ton [long]</string>
			<string>ton [short]</string>
			<string>ton [metric]</string>
		</array>
		<key>numberOptions</key>
		<array/>
		<key>powerOptions</key>
		<array/>
		<key>pressureOptions</key>
		<array/>
		<key>soundOptions</key>
		<array>
			<string>Bel (B)</string>
			<string>Decibel (dB)</string>
			<string>Neper (Np)</string>
		</array>
		<key>speedOptions</key>
		<array/>
		<key>temperatureOptions</key>
		<array/>
		<key>timeOptions</key>
		<array>
			<string>century</string>
			<string>day</string>
			<string>decade</string>
			<string>fortnight</string>
			<string>hour</string>
			<string>microsecond</string>
			<string>minute</string>
			<string>month</string>
			<string>month [anomalistic]</string>
			<string>month [dracontic]</string>
			<string>month [synodic]</string>
			<string>month [syderic]</string>
			<string>nanosecond</string>
			<string>picosecond</string>
			<string>second</string>
			<string>week</string>
			<string>year</string>
			<string>year [dracontic]</string>
			<string>year [sidereal]</string>
			<string>year [tropical]</string>
		</array>
	</dict>
	<key>converterList</key>
	<array>
		<string>Acceleration</string>
		<string>Angles</string>
		<string>Area</string>
		<string>Bytes</string>
		<string>Clothing</string>
		<string>Currency</string>
		<string>Density</string>
		<string>Energy</string>
		<string>Frequency</string>
		<string>Force</string>
		<string>Length/Distance</string>
		<string>Mass/Weight</string>
		<string>Numbers</string>
		<string>Power</string>
		<string>Pressure</string>
		<string>Sound</string>
		<string>Speed</string>
		<string>Temperature</string>
		<string>Time</string>
	</array>
</dict>
</plist>
